https://www.kaggle.com/mullervilmos/it-jobs/downloads/it-jobs.zip/1

In [1]:
%cd ..

/home/elena/Documents/Project_jobs

In [3]:
import zipfile
import json
import pandas as pd
import re
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import seaborn as sns
import matplotlib.dates as mdates
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [7]:
zf = zipfile.ZipFile('data/it-jobs.zip')
# df = json.load(zf.open('jobs.json'))
df = pd.read_json(zf.open('jobs.json')).T
df.head()

,categories,query,title
195884,"[.net, elasticsearch, rest, sql-server, entity...",visual studio 2015.txt,".NET Developer at Suzy (New York, NY)"
204934,"[.net, c#, javascript, sql, apache-spark]",zend framework.txt,Sr. Software Engineer (.Net) at Cheetah Digita...
200051,"[c#, asp.net, angular, angularjs, machine-lear...",windows server.txt,Full-Stack .NET Developer at ThoughtTrace (Mag...
205331,"[java, c#, .net, artificial-intelligence, chat...",xamarin test cloud.txt,Software Engineer (Multi platform - Java/. Net...
171562,"[c#, .net, sql-server, wpf, asp.net]",xamarin test cloud.txt,Passionate .NET Developer at Hive Marketing Cl...