In [292]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
# path = r'C:\Users\Елена\Python\pvloop\data\Lena\Control\rat_6k\rat_6k_baseline_1.csv'
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Control\rat_6k\rat_6k_baseline_1.csv', engine='python', sep=';', index_col=0)
df.head()

,SW (mmHg*µL),CO (µL/min),SV (µL),Vmax (µL),Vmin (µL),Ves (µL),Ved (µL),Pmax (mmHg),Pmin (mmHg),Pmean (mmHg),...,PowMax (mmHg*µL/s),dP/dt max (mmHg/s),dP/dt min (mmHg/s),dV/dt max (µL/s),dV/dt min (µL/s),P@dV/dt max (mmHg),P@dP/dt max (mmHg),V@dP/dt max (µL),V@dP/dt min (µL),Tau (ms)
1,,,,,,,,,,,...,,,,,,,,,,
2,,,,,,,,,,,...,,,,,,,,,,
3,"3,511e+004","1,094e+005","278,9","412,9","134,0","142,5","396,8","166,1","4,889","96,64",...,"2,607e+005","1,180e+004",-4575,"1,196e+004",-6203,"6,455","102,6","369,5","146,3","10,21"
4,"3,288e+004","9,993e+004","254,8","392,7","137,8","144,9","377,1","165,1","4,096","95,24",...,"2,819e+005","1,181e+004",-4691,"1,175e+004",-6198,"5,539","105,0","363,6","140,5","12,78"
5,"3,208e+004","9,713e+004","247,7","385,2","137,5","143,4","377,4","164,7","4,855","94,83",...,"4,299e+005","1,186e+004",-4985,"1,003e+004",-6276,"6,770","103,7","356,1","137,5","13,43"

In [293]:
df1 = df[34:].copy()
df = df[:34]
df

,SW (mmHg*µL),CO (µL/min),SV (µL),Vmax (µL),Vmin (µL),Ves (µL),Ved (µL),Pmax (mmHg),Pmin (mmHg),Pmean (mmHg),...,PowMax (mmHg*µL/s),dP/dt max (mmHg/s),dP/dt min (mmHg/s),dV/dt max (µL/s),dV/dt min (µL/s),P@dV/dt max (mmHg),P@dP/dt max (mmHg),V@dP/dt max (µL),V@dP/dt min (µL),Tau (ms)
1,,,,,,,,,,,...,,,,,,,,,,
2,,,,,,,,,,,...,,,,,,,,,,
3,"3,511e+004","1,094e+005","278,9","412,9","134,0","142,5","396,8","166,1","4,889","96,64",...,"2,607e+005","1,180e+004",-4575,"1,196e+004",-6203,"6,455","102,6","369,5","146,3","10,21"
4,"3,288e+004","9,993e+004","254,8","392,7","137,8","144,9","377,1","165,1","4,096","95,24",...,"2,819e+005","1,181e+004",-4691,"1,175e+004",-6198,"5,539","105,0","363,6","140,5","12,78"
5,"3,208e+004","9,713e+004","247,7","385,2","137,5","143,4","377,4","164,7","4,855","94,83",...,"4,299e+005","1,186e+004",-4985,"1,003e+004",-6276,"6,770","103,7","356,1","137,5","13,43"
6,"3,304e+004","9,680e+004","248,5","376,5","128,1","135,6","360,9","165,6","5,040","95,01",...,"2,442e+005","1,183e+004",-4917,"1,154e+004",-5909,"6,373","112,5","347,3","128,2","14,19"
7,"3,097e+004","9,676e+004","245,1","373,1","127,9","134,6","366,8","165,0","4,281","95,38",...,"2,515e+005","1,178e+004",-4691,"1,025e+004",-6287,"5,908","101,3","340,7","133,1","11,50"
8,"2,880e+004","9,451e+004","241,0","373,4","132,4","137,2","353,2","163,4","3,255","93,19",...,"3,867e+005","1,182e+004",-4992,"1,057e+004",-5691,"4,499","103,0","331,3","132,5","14,11"
9,"3,352e+004","1,022e+005","262,4","387,2","124,9","129,8","378,5","163,4","4,780","92,54",...,"3,375e+005","1,182e+004",-5450,9534,-6231,"5,922","99,55","349,8","125,0","13,24"
10,"3,048e+004","8,975e+004","228,9","350,4","121,5","127,2","344,8","163,5","4,691","93,77",...,"2,634e+005","1,184e+004",-5033,"1,073e+004",-6260,"6,079","106,1","329,7","121,5","13,95"
11,"2,939e+004","9,251e+004","235,9","354,9","119,0","124,1","348,7","162,2","3,754","92,48",...,"2,847e+005","1,182e+004",-4835,"1,003e+004",-5745,"4,876","105,4","322,9","119,0","14,52"
12,"2,799e+004","1,026e+005","261,6","386,7","125,1","130,6","347,5","160,1","2,304","90,28",...,"3,887e+005","1,178e+004",-5245,"1,100e+004",-5175,"3,364","103,0","323,2","125,8","13,22"
13,"3,297e+004","1,031e+005","264,7","392,5","127,8","130,7","389,8","158,9","3,699","88,72",...,"4,078e+005","1,179e+004",-5771,8283,-6774,"4,855","106,8","356,3","127,8","13,40"
14,"3,003e+004","8,918e+004","228,9","341,7","112,8","116,0","338,8","159,8","4,363","90,08",...,"2,712e+005","1,182e+004",-5621,9746,-5796,"5,484","105,9","321,8","113,8","12,46"
15,"2,843e+004","1,132e+005","290,4","413,8","123,3","130,2","338,6","158,7","2,072","89,16",...,"2,286e+005","1,172e+004",-4930,"1,284e+004",-5739,"3,234","110,4","326,9","123,4","14,07"
16,,,,,,,,,,,...,,,,,,,,,,
17,,,,,,,,,,,...,,,,,,,,,,
18,"3,122e+004","9,277e+004","236,6","350,3","113,8","119,5","348,1","159,2","4,329","91,19",...,"3,130e+005","1,175e+004",-4917,"1,071e+004",-6688,"5,710","108,4","331,6","113,8","14,01"
19,"3,030e+004","9,317e+004","237,6","355,4","117,8","125,3","347,1","158,3","3,754","90,00",...,"1,986e+005","1,173e+004",-4746,"1,029e+004",-6464,"4,985","104,0","332,1","118,3","14,68"
20,"3,024e+004","9,448e+004","240,9","352,2","111,2","116,6","347,5","158,0","3,987","89,44",...,"1,708e+005","1,169e+004",-5108,8492,-5911,"5,053","98,44","321,0","111,2","13,64"
21,"2,679e+004","8,844e+004","227,0","335,4","108,4","112,7","317,1","157,8","2,872","88,05",...,"2,298e+005","1,168e+004",-5204,9267,-5159,"3,583","104,4","299,0","108,6","13,39"
22,"2,735e+004","9,760e+004","252,1","372,8","120,7","125,0","338,1","156,8","1,935","86,14",...,"4,154e+005","1,163e+004",-5505,"1,002e+004",-5671,"2,831","108,5","316,7","120,7","13,35"
23,"3,188e+004","1,023e+005","262,5","372,6","110,1","113,6","372,6","158,0","4,130","87,57",...,"2,372e+005","1,165e+004",-5881,8305,-6758,"4,964","106,1","330,7","110,3","13,11"
24,"2,760e+004","8,504e+004","216,9","324,1","107,3","113,5","321,8","159,0","3,795","89,74",...,"2,045e+005","1,168e+004",-5170,9003,-5594,"4,835","105,1","298,2","107,3","13,33"
25,"2,626e+004","9,071e+004","232,8","346,1","113,3","117,5","320,7","158,6","2,510","88,35",...,"2,832e+005","1,161e+004",-5115,9361,-5813,"3,344","98,76","300,6","113,3","13,62"
26,"2,815e+004","1,186e+005","304,5","429,0","124,6","128,7","348,7","157,6","1,443","87,07",...,"3,460e+005","1,166e+004",-5457,"1,249e+004",-5882,"2,270","100,6","321,7","124,6","13,24"
27,"3,526e+004","1,178e+005","304,2","430,2","125,9","131,7","430,2","157,5","3,918","87,01",...,"3,632e+005","1,162e+004",-5922,7851,-6697,"5,026","105,6","364,6","125,9","13,18"
28,"2,875e+004","8,767e+004","225,0","334,8","109,8","116,2","323,5","159,8","4,219","90,04",...,"2,373e+005","1,163e+004",-5464,"1,056e+004",-5360,"5,395","110,2","306,3","109,8","12,76"
29,"2,822e+004","1,016e+005","260,8","382,9","122,1","128,4","337,9","159,3","2,824","89,57",...,"2,267e+005","1,160e+004",-4759,"1,171e+004",-5898,"4,014","99,47","322,4","122,2","14,73"
30,"3,535e+004","1,056e+005","272,9","392,5","119,7","127,6","387,3","159,4","4,287","89,37",...,"3,161e+005","1,170e+004",-5135,9274,-6718,"5,129","99,19","360,0","120,9","13,81"
31,"2,931e+004","8,919e+004","227,4","336,5","109,1","114,7","335,5","160,7","4,376","91,57",...,"2,448e+005","1,165e+004",-5115,"1,016e+004",-5391,"5,703","107,5","308,3","109,1","13,32"
32,"2,863e+004","8,728e+004","224,0","335,1","111,1","116,5","330,0","160,1","3,426","90,12",...,"3,026e+005","1,162e+004",-4732,"1,005e+004",-5970,"4,602","100,3","312,0","111,1","14,78"
33,"2,843e+004","9,376e+004","240,6","360,0","119,4","124,1","338,3","158,4","2,489","88,57",...,"3,748e+005","1,162e+004",-5033,9931,-6279,"3,679","104,7","321,4","119,5","13,52"
34,"3,169e+004","9,822e+004","252,1","363,4","111,3","117,1","362,3","157,8","3,911","88,03",...,"3,336e+005","1,164e+004",-5566,8525,-6580,"5,101","102,1","329,3","111,6","13,17"

In [294]:
df1 = df1[1:]
df1

,SW (mmHg*µL),CO (µL/min),SV (µL),Vmax (µL),Vmin (µL),Ves (µL),Ved (µL),Pmax (mmHg),Pmin (mmHg),Pmean (mmHg),...,PowMax (mmHg*µL/s),dP/dt max (mmHg/s),dP/dt min (mmHg/s),dV/dt max (µL/s),dV/dt min (µL/s),P@dV/dt max (mmHg),P@dP/dt max (mmHg),V@dP/dt max (µL),V@dP/dt min (µL),Tau (ms)
Avg,"3,037e+004","9,771e+004","250,2","370,5","120,3","125,9","354,2","160,4","3,676","90,64",...,"2,945e+005","1,172e+004",-5152,"1,014e+004",-6037,"4,853","104,3","330,5","121,1","13,42"
Min,"2,626e+004","8,504e+004","216,9","324,1","107,3","112,7","317,1","156,8","1,443","86,14",...,"1,708e+005","1,160e+004",-5922,7851,-6774,"2,270","98,44","298,2","107,3","10,21"
Max,"3,535e+004","1,186e+005","304,5","430,2","137,8","144,9","430,2","166,1","5,040","96,64",...,"4,299e+005","1,186e+004",-4575,"1,284e+004",-5159,"6,770","112,5","369,5","146,3","14,78"
Count,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30

In [295]:
import locale
locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)

In [335]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Control\rat_6k\rat_6k_occlusion_3.csv', engine='python', sep=';', index_col=0)
df1 = df[17:].copy()
df = df[:17]
import locale
locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_6k'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
o_rat_6k = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
o_rat_6k = o_rat_6k.drop(['Min', 'Max', 'Count'])
# o_rat_6k.max()
df.count()

SW (mmHg*µL)          17
CO (µL/min)           17
SV (µL)               17
Vmax (µL)             17
Vmin (µL)             17
Ves (µL)              17
Ved (µL)              17
Pmax (mmHg)           17
Pmin (mmHg)           17
Pmean (mmHg)          17
Pdev (mmHg)           17
Pes (mmHg)            17
Ped (mmHg)            17
HR (bpm)              17
EF (%)                17
Ea (mmHg/µL)          17
PowMax (mmHg*µL/s)    17
dP/dt max (mmHg/s)    17
dP/dt min (mmHg/s)    17
dV/dt max (µL/s)      17
dV/dt min (µL/s)      17
P@dV/dt max (mmHg)    17
P@dP/dt max (mmHg)    17
V@dP/dt max (µL)      17
V@dP/dt min (µL)      17
PVA (mmHg*µL)         17
PE (mmHg*µL)          17
CE                    17
Tau (ms)              17
dtype: int64

In [297]:
# df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Control\rat_6k\rat_6k_occlusion_saline.csv', engine='python', sep=';', index_col=0)
# df1 = df[16:].copy()
# df = df[:16]
# # import locale
# # locale.setlocale(locale.LC_NUMERIC, '')
# df1 = df1.applymap(locale.atof)
# df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
# df1.rename(index={'Avg': 'rat_6k'}, inplace=True)
# # df1.rename_axis('rat',  append=True)
# df1.index.name = 'rat'
# os_rat_6k = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
#                              'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
#                             'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
# os_rat_6k = os_rat_6k.drop(['Min', 'Max', 'Count'])

In [298]:
# df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Control\rat_6k\rat_6k_occlusion_saline_1.csv', engine='python', sep=';', index_col=0)
# df1 = df[17:].copy()
# df = df[:17]
# df1 = df1[1:]
# df1
# # import locale
# # locale.setlocale(locale.LC_NUMERIC, '')
# df1 = df1.applymap(locale.atof)
# df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
# df1.rename(index={'Avg': 'rat_6k'}, inplace=True)
# # df1.rename_axis('rat',  append=True)
# df1.index.name = 'rat'
# os1_rat_6k = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
#                              'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
#                             'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
# os1_rat_6k = os1_rat_6k.drop(['Min', 'Max', 'Count'])

In [299]:
df = df.drop(df.index[[0, 1, 15, 16]]).applymap(locale.atof).reset_index(drop=True)
df.tail()

,SW (mmHg*µL),CO (µL/min),SV (µL),Vmax (µL),Vmin (µL),Ves (µL),Ved (µL),Pmax (mmHg),Pmin (mmHg),Pmean (mmHg),...,PowMax (mmHg*µL/s),dP/dt max (mmHg/s),dP/dt min (mmHg/s),dV/dt max (µL/s),dV/dt min (µL/s),P@dV/dt max (mmHg),P@dP/dt max (mmHg),V@dP/dt max (µL),V@dP/dt min (µL),Tau (ms)
25,35350000.0,105600000.0,2729.0,3925.0,1197.0,1276.0,3873.0,1594.0,4287.0,8937.0,...,316100000.0,11700000.0,-5135.0,9274.0,-6718.0,5129.0,9919.0,3600.0,1209.0,1381.0
26,29310000.0,89190000.0,2274.0,3365.0,1091.0,1147.0,3355.0,1607.0,4376.0,9157.0,...,244800000.0,11650000.0,-5115.0,10160000.0,-5391.0,5703.0,1075.0,3083.0,1091.0,1332.0
27,28630000.0,87280000.0,2240.0,3351.0,1111.0,1165.0,3300.0,1601.0,3426.0,9012.0,...,302600000.0,11620000.0,-4732.0,10050000.0,-5970.0,4602.0,1003.0,3120.0,1111.0,1478.0
28,28430000.0,93760000.0,2406.0,3600.0,1194.0,1241.0,3383.0,1584.0,2489.0,8857.0,...,374800000.0,11620000.0,-5033.0,9931.0,-6279.0,3679.0,1047.0,3214.0,1195.0,1352.0
29,31690000.0,98220000.0,2521.0,3634.0,1113.0,1171.0,3623.0,1578.0,3911.0,8803.0,...,333600000.0,11640000.0,-5566.0,8525.0,-6580.0,5101.0,1021.0,3293.0,1116.0,1317.0

In [300]:
df.max()

SW (mmHg*µL)           35350000.0
CO (µL/min)           118600000.0
SV (µL)                    3045.0
Vmax (µL)                  4302.0
Vmin (µL)                  1378.0
Ves (µL)                   1449.0
Ved (µL)                   4302.0
Pmax (mmHg)                1661.0
Pmin (mmHg)                5040.0
Pmean (mmHg)               9664.0
Pdev (mmHg)                1612.0
Pes (mmHg)                 1537.0
Ped (mmHg)                 9218.0
HR (bpm)                   3947.0
EF (%)                     9463.0
Ea (mmHg/µL)               6837.0
PowMax (mmHg*µL/s)    429900000.0
dP/dt max (mmHg/s)     11860000.0
dP/dt min (mmHg/s)        -4575.0
dV/dt max (µL/s)       12840000.0
dV/dt min (µL/s)          -5159.0
P@dV/dt max (mmHg)         6770.0
P@dP/dt max (mmHg)         9955.0
V@dP/dt max (µL)           3695.0
V@dP/dt min (µL)           1463.0
Tau (ms)                   1478.0
dtype: float64

In [301]:
df1

,SW (mmHg*µL),CO (µL/min),SV (µL),Vmax (µL),Vmin (µL),Ves (µL),Ved (µL),Pmax (mmHg),Pmin (mmHg),Pmean (mmHg),...,PowMax (mmHg*µL/s),dP/dt max (mmHg/s),dP/dt min (mmHg/s),dV/dt max (µL/s),dV/dt min (µL/s),P@dV/dt max (mmHg),P@dP/dt max (mmHg),V@dP/dt max (µL),V@dP/dt min (µL),Tau (ms)
Avg,30370000.0,97710000.0,2502.0,3705.0,1203.0,1259.0,3542.0,1604.0,3676.0,9064.0,...,294500000.0,11720000.0,-5152.0,10140000.0,-6037.0,4853.0,1043.0,3305.0,1211.0,1342.0
Min,26260000.0,85040000.0,2169.0,3241.0,1073.0,1127.0,3171.0,1568.0,1443.0,8614.0,...,170800000.0,11600000.0,-5922.0,7851.0,-6774.0,2270.0,9844.0,2982.0,1073.0,1021.0
Max,35350000.0,118600000.0,3045.0,4302.0,1378.0,1449.0,4302.0,1661.0,5040.0,9664.0,...,429900000.0,11860000.0,-4575.0,12840000.0,-5159.0,6770.0,1125.0,3695.0,1463.0,1478.0
Count,30.0,30.0,30.0,30.0,30.0,30.0,30.0,30.0,30.0,30.0,...,30.0,30.0,30.0,30.0,30.0,30.0,30.0,30.0,30.0,30.0

In [302]:
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_6k'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'

In [303]:
bl_rat_6k = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)

In [304]:
bl_rat_6k = bl_rat_6k.drop(['Min', 'Max', 'Count'])
bl_rat_6k['type1'] = ('control')
bl_rat_6k['type2'] = ('baseline')
bl_rat_6k

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_6k,30370000.0,97710000.0,2502.0,1259.0,3542.0,1494.0,6769.0,3905.0,7574.0,6015.0,294500000.0,11720000.0,11236.816874,control,baseline

In [305]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Control\rat_7k\rat_7k_baseline_1.csv', engine='python', sep=';', index_col=0)
df1 = df[26:].copy()
df = df[:26]
df1
# df1 = df1[1:]
# df1
# import locale
# locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_7k'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bl1_rat_7k = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bl1_rat_7k = bl1_rat_7k.drop(['Min', 'Max', 'Count'])
bl1_rat_7k['type1'] = ('control')
bl1_rat_7k['type2'] = ('baseline')
bl1_rat_7k

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_7k,39720000.0,123400000.0,3403.0,1670.0,4901.0,1365.0,2739.0,3625.0,7208.0,4014.0,117200000.0,10860000.0,1116.709512,control,baseline

In [306]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Control\rat_6k\rat_6k_baseline_saline.csv', engine='python', sep=';', index_col=0)
df.head()
df1 = df[32:].copy()
df = df[:32]
import locale
locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_6k'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bls_rat_6k = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bls_rat_6k = bls_rat_6k.drop(['Min', 'Max', 'Count'])
bls_rat_6k['type1'] = ('control')
bls_rat_6k['type2'] = ('baseline saline')
bls_rat_6k
rat_6k = pd.concat([bl_rat_6k, bls_rat_6k])

In [307]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Control\rat_7k\rat_7k_baseline_2.csv', engine='python', sep=';', index_col=0)
df1 = df[25:].copy()
df = df[:25]
# df1
# df1 = df1[1:]
# df1
# import locale
# locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_7k'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bl2_rat_7k = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bl2_rat_7k = bl2_rat_7k.drop(['Min', 'Max', 'Count'])
bl2_rat_7k['type1'] = ('control')
bl2_rat_7k['type2'] = ('baseline')
bl2_rat_7k

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_7k,45590000.0,147200000.0,3912.0,1648.0,5049.0,1491.0,2909.0,3765.0,7852.0,3859.0,296800000.0,11770000.0,11230.916031,control,baseline

In [308]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Control\rat_10k\rat_10k_baseline_4.csv', engine='python', sep=';', index_col=0)
df1 = df[36:].copy()
df = df[:36]
# df1
# df1 = df1[1:]
# df1
# import locale
# locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_10k'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bl4_rat_10k = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bl4_rat_10k = bl4_rat_10k.drop(['Min', 'Max', 'Count'])
bl4_rat_10k['type1'] = ('control')
bl4_rat_10k['type2'] = ('baseline')
bl4_rat_10k

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_10k,37750000.0,130200000.0,3623.0,3114.0,6166.0,1182.0,1255.0,3592.0,5922.0,3336.0,262400000.0,11510000.0,1288.336691,control,baseline

In [309]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Control\rat_7k\rat_7k_baseline_saline_2.csv', engine='python', sep=';', index_col=0)
df1 = df[36:].copy()
df = df[:36]
# df1
# df1 = df1[1:]
# df1
# import locale
# locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_7k'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bls2_rat_7k = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bls2_rat_7k = bls2_rat_7k.drop(['Min', 'Max', 'Count'])
bls2_rat_7k['type1'] = ('control')
bls2_rat_7k['type2'] = ('baseline saline')
bls2_rat_7k
rat_7k = pd.concat([bls2_rat_7k, bl2_rat_7k, bl1_rat_7k])

In [310]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Control\rat_10k\rat_10k_baseline_saline_1.csv', engine='python', sep=';', index_col=0)
df1 = df[38:].copy()
df = df[:38]
# df1
# df1 = df1[1:]
# df1
# import locale
# locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_10k'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bls1_rat_10k = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bls1_rat_10k = bls1_rat_10k.drop(['Min', 'Max', 'Count'])
bls1_rat_10k['type1'] = ('control')
bls1_rat_10k['type2'] = ('baseline saline')
bls1_rat_10k
rat_10k = pd.concat([bl4_rat_10k, bls1_rat_10k])

In [311]:
control = pd.concat([rat_10k, rat_7k, rat_6k])
control

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_10k,37750000.0,130200000.0,3623.0,3114.0,6166.0,1182.0,1255.0,3592.0,5922.0,3336.0,262400000.0,11510000.0,1288.336691,control,baseline
rat_10k,27180000.0,91440000.0,2445.0,2716.0,4861.0,1283.0,1014.0,3739.0,5150.0,5317.0,223000000.0,14010000.0,1462.116468,control,baseline saline
rat_7k,32820000.0,100900000.0,2807.0,1903.0,4463.0,1397.0,2451.0,3595.0,6312.0,4982.0,238900000.0,11870000.0,11810.945274,control,baseline saline
rat_7k,45590000.0,147200000.0,3912.0,1648.0,5049.0,1491.0,2909.0,3765.0,7852.0,3859.0,296800000.0,11770000.0,11230.916031,control,baseline
rat_7k,39720000.0,123400000.0,3403.0,1670.0,4901.0,1365.0,2739.0,3625.0,7208.0,4014.0,117200000.0,10860000.0,1116.709512,control,baseline
rat_6k,30370000.0,97710000.0,2502.0,1259.0,3542.0,1494.0,6769.0,3905.0,7574.0,6015.0,294500000.0,11720000.0,11236.816874,control,baseline
rat_6k,43010000.0,183200000.0,4569.0,2174.0,6181.0,1425.0,1729.0,4010.0,8523.0,3171.0,363900000.0,9842.0,9.241315,control,baseline saline

In [312]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Dox\rat_13\rat_13_baseline_2.csv', engine='python', sep=';', index_col=0)
df1 = df[32:].copy()
df = df[:32]
df1
# df1 = df1[1:]
# df1
# import locale
# locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_13'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bl2_rat_13 = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bl2_rat_13 = bl2_rat_13.drop(['Min', 'Max', 'Count'])
bl2_rat_13['type1'] = ('dox')
bl2_rat_13['type2'] = ('baseline')
bl2_rat_13

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_13,4992.0,39920000.0,2126.0,8716.0,1162.0,4820.0,1712.0,1878.0,1455.0,2312.0,259700000.0,1856.0,0.588273,dox,baseline

In [313]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Dox\rat_15\rat_15_baseline.csv', engine='python', sep=';', index_col=0)
df1 = df[13:].copy()
df = df[:13]
# df1
# df1 = df1[1:]
# df1
# import locale
# locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_15'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bl_rat_15 = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bl_rat_15 = bl_rat_15.drop(['Min', 'Max', 'Count'])
bl_rat_15['type1'] = ('dox')
bl_rat_15['type2'] = ('baseline')
bl_rat_15

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_15,31580000.0,92910000.0,2892.0,3658.0,5856.0,1269.0,9479.0,3209.0,4523.0,4420.0,202000000.0,7548.0,0.89697,dox,baseline

In [314]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Dox\rat_16\rat_16_baseline_4_revsion.csv', engine='python', sep=';', index_col=0)
df1 = df[19:].copy()
df = df[:19]
# df1
# df1 = df1[1:]
# df1
# import locale
# locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_16'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bl4r_rat_16 = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bl4r_rat_16 = bl4r_rat_16.drop(['Min', 'Max', 'Count'])
bl4r_rat_16['type1'] = ('dox')
bl4r_rat_16['type2'] = ('baseline')
bl4r_rat_16

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_16,39430000.0,103400000.0,4120.0,3104.0,6182.0,8160.0,-3375.0,2511.0,6138.0,2049.0,157000000.0,4424.0,1.227866,dox,baseline

In [315]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Dox\rat_13\rat_13_baseline_saline_2.csv', engine='python', sep=';', index_col=0)
df1 = df[7:].copy()
df = df[:7]
# df1
# df1 = df1[1:]
# df1
# import locale
# locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_13'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bls2_rat_13 = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bls2_rat_13 = bls2_rat_13.drop(['Min', 'Max', 'Count'])
bls2_rat_13['type1'] = ('dox')
bls2_rat_13['type2'] = ('baseline saline')
bls2_rat_13

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_13,15220000.0,79380000.0,4249.0,2442.0,3680.0,5037.0,8831.0,1868.0,8959.0,1186.0,421400000.0,1859.0,0.548216,dox,baseline saline

In [316]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Dox\rat_15\rat_15_baseline_saline.csv', engine='python', sep=';', index_col=0)
df1 = df[22:].copy()
df = df[:22]
# df1
# df1 = df1[1:]
# df1
# import locale
# locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_15'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bls_rat_15 = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bls_rat_15 = bls_rat_15.drop(['Min', 'Max', 'Count'])
bls_rat_15['type1'] = ('dox')
bls_rat_15['type2'] = ('baseline saline')
bls_rat_15

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_15,32470000.0,94680000.0,2980.0,4347.0,5428.0,1279.0,4409.0,3178.0,4174.0,4296.0,118400000.0,7393.0,0.861153,dox,baseline saline

In [317]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Dox\rat_16\rat_16_baseline_saline_2_revsion.csv', engine='python', sep=';', index_col=0)
df1 = df[10:].copy()
df = df[:10]
# df1
# df1 = df1[1:]
# df1
# import locale
# locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_16'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bls2r_rat_16 = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bls2r_rat_16 = bls2r_rat_16.drop(['Min', 'Max', 'Count'])
bls2r_rat_16['type1'] = ('dox')
bls2r_rat_16['type2'] = ('baseline saline')
bls2r_rat_16

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_16,32190000.0,124700000.0,5137.0,1419.0,5276.0,7186.0,-2113.0,2427.0,8430.0,1439.0,84230000.0,2507.0,0.545593,dox,baseline saline

In [318]:
dox = pd.concat([bls2r_rat_16, bl4r_rat_16, bls_rat_15, bl_rat_15, bls2_rat_13, bl2_rat_13, ])
dox

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_16,32190000.0,124700000.0,5137.0,1419.0,5276.0,7186.0,-2113.0,2427.0,8430.0,1439.0,84230000.0,2507.0,0.545593,dox,baseline saline
rat_16,39430000.0,103400000.0,4120.0,3104.0,6182.0,8160.0,-3375.0,2511.0,6138.0,2049.0,157000000.0,4424.0,1.227866,dox,baseline
rat_15,32470000.0,94680000.0,2980.0,4347.0,5428.0,1279.0,4409.0,3178.0,4174.0,4296.0,118400000.0,7393.0,0.861153,dox,baseline saline
rat_15,31580000.0,92910000.0,2892.0,3658.0,5856.0,1269.0,9479.0,3209.0,4523.0,4420.0,202000000.0,7548.0,0.896970,dox,baseline
rat_13,15220000.0,79380000.0,4249.0,2442.0,3680.0,5037.0,8831.0,1868.0,8959.0,1186.0,421400000.0,1859.0,0.548216,dox,baseline saline
rat_13,4992.0,39920000.0,2126.0,8716.0,1162.0,4820.0,1712.0,1878.0,1455.0,2312.0,259700000.0,1856.0,0.588273,dox,baseline

In [319]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Dox+Skq\rat_31\rat_31_baseline_3.csv', engine='python', sep=';', index_col=0)
df1 = df[23:].copy()
df = df[:23]
# df1
# df1 = df1[1:]
# df1
# import locale
# locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_31'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bl3_rat_31 = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bl3_rat_31 = bl3_rat_31.drop(['Min', 'Max', 'Count'])
bl3_rat_31['type1'] = ('dox + skq')
bl3_rat_31['type2'] = ('baseline')
bl3_rat_31

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_31,26630000.0,82260000.0,2024.0,1318.0,2829.0,1507.0,1250.0,4064.0,6176.0,7459.0,131900000.0,13000000.0,12195.121951,dox + skq,baseline

In [320]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Dox+Skq\rat_34\rat_34_baseline_2_no_ivl.csv', engine='python', sep=';', index_col=0)
df1 = df[15:].copy()
df = df[:15]
# df1
# df1 = df1[1:]
# df1
# import locale
# locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_34'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bl2ni_rat_34 = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bl2ni_rat_34 = bl2ni_rat_34.drop(['Min', 'Max', 'Count'])
bl2ni_rat_34['type1'] = ('dox + skq')
bl2ni_rat_34['type2'] = ('baseline')
bl2ni_rat_34

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_34,41590000.0,131300000.0,3709.0,1186.0,3926.0,1416.0,8646.0,3541.0,8442.0,3826.0,796800000.0,10780000.0,10486.381323,dox + skq,baseline

In [321]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Dox+Skq\rat_36\rat_36_baseline_2.csv', engine='python', sep=';', index_col=0)
df1 = df[19:].copy()
df = df[:19]
# df1
# df1 = df1[1:]
# df1
# import locale
# locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_36'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bl2_rat_36 = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bl2_rat_36 = bl2_rat_36.drop(['Min', 'Max', 'Count'])
bl2_rat_36['type1'] = ('dox + skq')
bl2_rat_36['type2'] = ('baseline')
bl2_rat_36

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_36,23230000.0,82590000.0,1877.0,1822.0,3202.0,1313.0,5047.0,4399.0,5146.0,7058.0,95630000.0,11280000.0,1209.910973,dox + skq,baseline

In [322]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Dox+Skq\rat_31\rat_31_baseline_saline.csv', engine='python', sep=';', index_col=0)
df1 = df[21:].copy()
df = df[:21]
# df1
# df1 = df1[1:]
# df1
# import locale
# locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_31'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bls_rat_31 = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bls_rat_31 = bls_rat_31.drop(['Min', 'Max', 'Count'])
bls_rat_31['type1'] = ('dox + skq')
bls_rat_31['type2'] = ('baseline saline')
bls_rat_31

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_31,25230000.0,77180000.0,1924.0,1599.0,3147.0,1491.0,1333.0,4012.0,5570.0,7777.0,110600000.0,13180000.0,12306.255836,dox + skq,baseline saline

In [323]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Dox+Skq\rat_34\rat_34_baseline_saline_2.csv', engine='python', sep=';', index_col=0)
df1 = df[36:].copy()
df = df[:36]
# df1
# df1 = df1[1:]
# df1
# import locale
# locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_34'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bls2_rat_34 = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bls2_rat_34 = bls2_rat_34.drop(['Min', 'Max', 'Count'])
bls2_rat_34['type1'] = ('dox + skq')
bls2_rat_34['type2'] = ('baseline saline')
bls2_rat_34

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_34,45590000.0,150000000.0,4782.0,2273.0,5478.0,1207.0,8868.0,3137.0,7713.0,2578.0,882900000.0,7411.0,0.863552,dox + skq,baseline saline

In [324]:
df = pd.read_csv(r'C:\Users\Елена\Python\pvloop\data\Lena\Dox+Skq\rat_36\rat_36_baseline_saline_2.csv', engine='python', sep=';', index_col=0)
df1 = df[21:].copy()
df = df[:21]
# df1
# df1 = df1[1:]
# df1
# import locale
# locale.setlocale(locale.LC_NUMERIC, '')
df1 = df1.applymap(locale.atof)
df1['IVG (1/s)'] = df1['dP/dt max (mmHg/s)']/df1['P@dP/dt max (mmHg)']
df1.rename(index={'Avg': 'rat_36'}, inplace=True)
# df1.rename_axis('rat',  append=True)
df1.index.name = 'rat'
bls2_rat_36 = df1.copy().drop(['Vmax (µL)', 'Vmin (µL)', 'Pmax (mmHg)', 'Pmin (mmHg)', 'Pmean (mmHg)', 'Pdev (mmHg)', 
                             'dP/dt min (mmHg/s)', 'dV/dt max (µL/s)', 'dV/dt min (µL/s)', 'P@dV/dt max (mmHg)', 
                            'P@dP/dt max (mmHg)', 'V@dP/dt max (µL)', 'V@dP/dt min (µL)', 'Tau (ms)'], axis=1)
bls2_rat_36 = bls2_rat_36.drop(['Min', 'Max', 'Count'])
bls2_rat_36['type1'] = ('dox + skq')
bls2_rat_36['type2'] = ('baseline saline')
bls2_rat_36

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_36,21290000.0,78150000.0,1792.0,1942.0,3343.0,1272.0,6428.0,4361.0,4893.0,7163.0,95230000.0,10940000.0,1162.592986,dox + skq,baseline saline

In [325]:
dox_skq = pd.concat([bl3_rat_31, bls_rat_31, bl2ni_rat_34, bls2_rat_34, bl2_rat_36, bls2_rat_36])
dox_skq

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_31,26630000.0,82260000.0,2024.0,1318.0,2829.0,1507.0,1250.0,4064.0,6176.0,7459.0,131900000.0,13000000.0,12195.121951,dox + skq,baseline
rat_31,25230000.0,77180000.0,1924.0,1599.0,3147.0,1491.0,1333.0,4012.0,5570.0,7777.0,110600000.0,13180000.0,12306.255836,dox + skq,baseline saline
rat_34,41590000.0,131300000.0,3709.0,1186.0,3926.0,1416.0,8646.0,3541.0,8442.0,3826.0,796800000.0,10780000.0,10486.381323,dox + skq,baseline
rat_34,45590000.0,150000000.0,4782.0,2273.0,5478.0,1207.0,8868.0,3137.0,7713.0,2578.0,882900000.0,7411.0,0.863552,dox + skq,baseline saline
rat_36,23230000.0,82590000.0,1877.0,1822.0,3202.0,1313.0,5047.0,4399.0,5146.0,7058.0,95630000.0,11280000.0,1209.910973,dox + skq,baseline
rat_36,21290000.0,78150000.0,1792.0,1942.0,3343.0,1272.0,6428.0,4361.0,4893.0,7163.0,95230000.0,10940000.0,1162.592986,dox + skq,baseline saline

In [326]:
baselines = pd.concat([control, dox, dox_skq])
baselines

,SW (mmHg*µL),CO (µL/min),SV (µL),Ves (µL),Ved (µL),Pes (mmHg),Ped (mmHg),HR (bpm),EF (%),Ea (mmHg/µL),PowMax (mmHg*µL/s),dP/dt max (mmHg/s),IVG (1/s),type1,type2
rat,,,,,,,,,,,,,,,
rat_10k,37750000.0,130200000.0,3623.0,3114.0,6166.0,1182.0,1255.0,3592.0,5922.0,3336.0,262400000.0,11510000.0,1288.336691,control,baseline
rat_10k,27180000.0,91440000.0,2445.0,2716.0,4861.0,1283.0,1014.0,3739.0,5150.0,5317.0,223000000.0,14010000.0,1462.116468,control,baseline saline
rat_7k,32820000.0,100900000.0,2807.0,1903.0,4463.0,1397.0,2451.0,3595.0,6312.0,4982.0,238900000.0,11870000.0,11810.945274,control,baseline saline
rat_7k,45590000.0,147200000.0,3912.0,1648.0,5049.0,1491.0,2909.0,3765.0,7852.0,3859.0,296800000.0,11770000.0,11230.916031,control,baseline
rat_7k,39720000.0,123400000.0,3403.0,1670.0,4901.0,1365.0,2739.0,3625.0,7208.0,4014.0,117200000.0,10860000.0,1116.709512,control,baseline
rat_6k,30370000.0,97710000.0,2502.0,1259.0,3542.0,1494.0,6769.0,3905.0,7574.0,6015.0,294500000.0,11720000.0,11236.816874,control,baseline
rat_6k,43010000.0,183200000.0,4569.0,2174.0,6181.0,1425.0,1729.0,4010.0,8523.0,3171.0,363900000.0,9842.0,9.241315,control,baseline saline
rat_16,32190000.0,124700000.0,5137.0,1419.0,5276.0,7186.0,-2113.0,2427.0,8430.0,1439.0,84230000.0,2507.0,0.545593,dox,baseline saline
rat_16,39430000.0,103400000.0,4120.0,3104.0,6182.0,8160.0,-3375.0,2511.0,6138.0,2049.0,157000000.0,4424.0,1.227866,dox,baseline
rat_15,32470000.0,94680000.0,2980.0,4347.0,5428.0,1279.0,4409.0,3178.0,4174.0,4296.0,118400000.0,7393.0,0.861153,dox,baseline saline
rat_15,31580000.0,92910000.0,2892.0,3658.0,5856.0,1269.0,9479.0,3209.0,4523.0,4420.0,202000000.0,7548.0,0.896970,dox,baseline
rat_13,15220000.0,79380000.0,4249.0,2442.0,3680.0,5037.0,8831.0,1868.0,8959.0,1186.0,421400000.0,1859.0,0.548216,dox,baseline saline
rat_13,4992.0,39920000.0,2126.0,8716.0,1162.0,4820.0,1712.0,1878.0,1455.0,2312.0,259700000.0,1856.0,0.588273,dox,baseline
rat_31,26630000.0,82260000.0,2024.0,1318.0,2829.0,1507.0,1250.0,4064.0,6176.0,7459.0,131900000.0,13000000.0,12195.121951,dox + skq,baseline
rat_31,25230000.0,77180000.0,1924.0,1599.0,3147.0,1491.0,1333.0,4012.0,5570.0,7777.0,110600000.0,13180000.0,12306.255836,dox + skq,baseline saline
rat_34,41590000.0,131300000.0,3709.0,1186.0,3926.0,1416.0,8646.0,3541.0,8442.0,3826.0,796800000.0,10780000.0,10486.381323,dox + skq,baseline
rat_34,45590000.0,150000000.0,4782.0,2273.0,5478.0,1207.0,8868.0,3137.0,7713.0,2578.0,882900000.0,7411.0,0.863552,dox + skq,baseline saline
rat_36,23230000.0,82590000.0,1877.0,1822.0,3202.0,1313.0,5047.0,4399.0,5146.0,7058.0,95630000.0,11280000.0,1209.910973,dox + skq,baseline
rat_36,21290000.0,78150000.0,1792.0,1942.0,3343.0,1272.0,6428.0,4361.0,4893.0,7163.0,95230000.0,10940000.0,1162.592986,dox + skq,baseline saline

In [327]:
# baselines.reset_index(level=['rat'])

In [330]:
# baselines.groupby(['type1', 'type2'])
# baselines.pivot_table(index='type1', columns='type2')
baselines.reset_index().set_index(['type1', 'rat', 'type2'])

                                   SW (mmHg*µL)  CO (µL/min)  SV (µL)  \
type1     rat     type2
control   rat_10k baseline           37750000.0  130200000.0   3623.0
                  baseline saline    27180000.0   91440000.0   2445.0
          rat_7k  baseline saline    32820000.0  100900000.0   2807.0
                  baseline           45590000.0  147200000.0   3912.0
                  baseline           39720000.0  123400000.0   3403.0
          rat_6k  baseline           30370000.0   97710000.0   2502.0
                  baseline saline    43010000.0  183200000.0   4569.0
dox       rat_16  baseline saline    32190000.0  124700000.0   5137.0
                  baseline           39430000.0  103400000.0   4120.0
          rat_15  baseline saline    32470000.0   94680000.0   2980.0
                  baseline           31580000.0   92910000.0   2892.0
          rat_13  baseline saline    15220000.0   79380000.0   4249.0
                  baseline               4992.0   39920000.0   2126.0
dox + skq rat_31  baseline           26630000.0   82260000.0   2024.0
                  baseline saline    25230000.0   77180000.0   1924.0
          rat_34  baseline           41590000.0  131300000.0   3709.0
                  baseline saline    45590000.0  150000000.0   4782.0
          rat_36  baseline           23230000.0   82590000.0   1877.0
                  baseline saline    21290000.0   78150000.0   1792.0

                                   Ves (µL)  Ved (µL)  Pes (mmHg)  Ped (mmHg)  \
type1     rat     type2
control   rat_10k baseline           3114.0    6166.0      1182.0      1255.0
                  baseline saline    2716.0    4861.0      1283.0      1014.0
          rat_7k  baseline saline    1903.0    4463.0      1397.0      2451.0
                  baseline           1648.0    5049.0      1491.0      2909.0
                  baseline           1670.0    4901.0      1365.0      2739.0
          rat_6k  baseline           1259.0    3542.0      1494.0      6769.0
                  baseline saline    2174.0    6181.0      1425.0      1729.0
dox       rat_16  baseline saline    1419.0    5276.0      7186.0     -2113.0
                  baseline           3104.0    6182.0      8160.0     -3375.0
          rat_15  baseline saline    4347.0    5428.0      1279.0      4409.0
                  baseline           3658.0    5856.0      1269.0      9479.0
          rat_13  baseline saline    2442.0    3680.0      5037.0      8831.0
                  baseline           8716.0    1162.0      4820.0      1712.0
dox + skq rat_31  baseline           1318.0    2829.0      1507.0      1250.0
                  baseline saline    1599.0    3147.0      1491.0      1333.0
          rat_34  baseline           1186.0    3926.0      1416.0      8646.0
                  baseline saline    2273.0    5478.0      1207.0      8868.0
          rat_36  baseline           1822.0    3202.0      1313.0      5047.0
                  baseline saline    1942.0    3343.0      1272.0      6428.0

                                   HR (bpm)  EF (%)  Ea (mmHg/µL)  \
type1     rat     type2
control   rat_10k baseline           3592.0  5922.0        3336.0
                  baseline saline    3739.0  5150.0        5317.0
          rat_7k  baseline saline    3595.0  6312.0        4982.0
                  baseline           3765.0  7852.0        3859.0
                  baseline           3625.0  7208.0        4014.0
          rat_6k  baseline           3905.0  7574.0        6015.0
                  baseline saline    4010.0  8523.0        3171.0
dox       rat_16  baseline saline    2427.0  8430.0        1439.0
                  baseline           2511.0  6138.0        2049.0
          rat_15  baseline saline    3178.0  4174.0        4296.0
                  baseline           3209.0  4523.0        4420.0
          rat_13  baseline saline    1868.0  8959.0        1186.0
                  baseline           1878.0  1455.0        2312.0
dox + skq rat_31  baseline           4064.0  6176.0        7459.0
                  baseline saline    4012.0  5570.0        7777.0
          rat_34  baseline           3541.0  8442.0        3826.0
                  baseline saline    3137.0  7713.0        2578.0
          rat_36  baseline           4399.0  5146.0        7058.0
                  baseline saline    4361.0  4893.0        7163.0

                                   PowMax (mmHg*µL/s)  dP/dt max (mmHg/s)  \
type1     rat     type2
control   rat_10k baseline                262400000.0          11510000.0
                  baseline saline         223000000.0          14010000.0
          rat_7k  baseline saline         238900000.0          11870000.0
                  baseline                296800000.0          11770000.0
                  baseline                117200000.0          10860000.0
          rat_6k  baseline                294500000.0          11720000.0
                  baseline saline         363900000.0              9842.0
dox       rat_16  baseline saline          84230000.0              2507.0
                  baseline                157000000.0              4424.0
          rat_15  baseline saline         118400000.0              7393.0
                  baseline                202000000.0              7548.0
          rat_13  baseline saline         421400000.0              1859.0
                  baseline                259700000.0              1856.0
dox + skq rat_31  baseline                131900000.0          13000000.0
                  baseline saline         110600000.0          13180000.0
          rat_34  baseline                796800000.0          10780000.0
                  baseline saline         882900000.0              7411.0
          rat_36  baseline                 95630000.0          11280000.0
                  baseline saline          95230000.0          10940000.0

                                      IVG (1/s)
type1     rat     type2
control   rat_10k baseline          1288.336691
                  baseline saline   1462.116468
          rat_7k  baseline saline  11810.945274
                  baseline         11230.916031
                  baseline          1116.709512
          rat_6k  baseline         11236.816874
                  baseline saline      9.241315
dox       rat_16  baseline saline      0.545593
                  baseline             1.227866
          rat_15  baseline saline      0.861153
                  baseline             0.896970
          rat_13  baseline saline      0.548216
                  baseline             0.588273
dox + skq rat_31  baseline         12195.121951
                  baseline saline  12306.255836
          rat_34  baseline         10486.381323
                  baseline saline      0.863552
          rat_36  baseline          1209.910973
                  baseline saline   1162.592986

In [329]:
baselines.pivot_table(index='type1', columns='type2')

            CO (µL/min)                       EF (%)                  \
type2          baseline baseline saline     baseline baseline saline
type1
control    1.246275e+08    1.251800e+08  7139.000000     6661.666667
dox        7.874333e+07    9.958667e+07  4038.666667     7187.666667
dox + skq  9.871667e+07    1.017767e+08  6588.000000     6058.666667

          Ea (mmHg/µL)                     HR (bpm)                  \
type2         baseline baseline saline     baseline baseline saline
type1
control    4306.000000     4490.000000  3721.750000     3781.333333
dox        2927.000000     2307.000000  2532.666667     2491.000000
dox + skq  6114.333333     5839.333333  4001.333333     3836.666667

             IVG (1/s)                       ...            SV (µL)  \
type2         baseline baseline saline       ...           baseline
type1                                        ...
control    6218.194777     4427.434352       ...        3360.000000
dox           0.904369        0.651654       ...        3046.000000
dox + skq  7963.804749     4489.904124       ...        2536.666667

                           SW (mmHg*µL)                 Ved (µL)  \
type2     baseline saline      baseline baseline saline baseline
type1
control       3273.666667  3.835750e+07    3.433667e+07   4914.5
dox           4122.000000  2.367166e+07    2.662667e+07   4400.0
dox + skq     2832.666667  3.048333e+07    3.070333e+07   3319.0

                              Ves (µL)                 dP/dt max (mmHg/s)  \
type2     baseline saline     baseline baseline saline           baseline
type1
control       5168.333333  1922.750000     2264.333333       1.146500e+07
dox           4794.666667  5159.333333     2736.000000       4.609333e+03
dox + skq     3989.333333  1442.000000     1938.000000       1.168667e+07


type2     baseline saline
type1
control      8.629947e+06
dox          3.919667e+03
dox + skq    8.042470e+06

[3 rows x 26 columns]